.name{
	color: teal;
	font-family: "helvetica", sans-serif;
	font-style: bold; 	
	text-align: center;
}


.desc{
	font-family: "helvetica", sans-serif;

}

.roundimage{
	border-radius: 100%;
	width: 180px;
	height: 180px;
	display: block;
	float: left;
	overflow: auto;
}

.intro{
	padding:10px;
}
